@import url("./assets/fonts/Ubuntu-Medium.ttf");

:root {
  /* primary */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  /* neutral */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

.mainContainer {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.slideBar {
  flex: 1;
  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 3rem;
}

.formSection {
  flex: 4;
  display: flex;
  flex-direction: column;
}

/* slidebar */
.step {
}

.step:first-child > .stepNum {
  background-color: var(--Pastel-blue);
  color: var(--Marine-blue);
}

.stepNum {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1.5px var(--Alabaster);
  color: var(--Alabaster);
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 100%;
}

.stepInfo {
  display: none;
}

/* form section */
.formSection > div:first-child {
  flex: 1;
  background-color: var(--Magnolia);
  padding: 0 1rem;
}

.form,
.PlanContainer,
.Pick-add-ons,
.Finishing-up {
  background-color: var(--White);
  padding: 1.5rem 1.2rem;
  border-radius: 1rem;
  position: relative;
  top: -80px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* form */

.form {
  display: none;
}

.formSection h3 {
  color: var(--Marine-blue);
  font-size: 1.7rem;
  font-weight: 800;
}

.formSection p {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--Cool-gray);
}

.form form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 1rem;
}

.form form > div > label {
  font-size: 0.9rem;
  font-weight: 650;
  color: var(--Marine-blue);
}

.form form > div > input {
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 700;
  border: solid 2px var(--Magnolia);
}

.form form > div > input::placeholder {
  color: var(--Cool-gray);
}

/* plan */
.PlanContainer {
  display: none;
}
.plan {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: solid 1.5px var(--Light-gray);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  gap: 1rem;
  height: 90px;
}

.plan > input {
  display: none;
}

.plan:has(input:checked) {
  border: solid 1.5px var(--Purplish-blue);
  background-color: var(--Magnolia);
}

.plan > div:last-child {
  flex: 1;
}

.planName {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--Marine-blue);
}

.price {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--Cool-gray);
}

.PlanDuration {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  border-radius: 5px;
}

.selectedDuration {
  color: var(--Marine-blue);
}

.nonSelectedDuration {
  color: var(--Cool-gray);
}

/* toggle */
.toggle {
  position: relative;
  width: 50px;
  height: 25px;
  background-color: var(--Marine-blue);
  border-radius: 1rem;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

.toggle > input {
  display: none;
  width: 100%;
  height: 100%;
}

.toggle > .slider::before {
  content: "";
  position: absolute;
  right: calc(50px - 15px - 5px);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--Alabaster);
  transition: all 0.5s;
}
input:checked ~ .slider::before {
  content: "";
  right: 5px;
}

.PlanDuration > span {
  font-size: 1.2rem;
  font-weight: 650;
}

/* Pick Add-ons */
.Pick-add-ons {
  display: none;
}

.pick-add-on-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 1px var(--Cool-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pick-add-on-checkbox i {
  display: none;

  font-size: 1.7rem;
  color: var(--Purplish-blue);
}

.plan:has(input:checked) .pick-add-on-checkbox i {
  display: block;
}

.Pick-add-ons-data {
  font-size: 0.9rem;
  color: var(--Cool-gray);
  font-weight: 550;
}

.Pick-add-ons-name {
  font-size: 1.1rem;
  color: var(--Marine-blue);
  font-weight: 650;
}

.Pick-add-ons .plan > div:has(.Pick-add-ons-name) {
  flex: 1;
}

.Pick-add-ons .plan > div:last-child {
  flex: 0;
  color: var(--Purplish-blue);
  font-size: 0.9rem;
  font-weight: 650;
}

/* finishing up */
.subscriptionAndSelection {
  background-color: var(--Magnolia);
  padding: 1rem;
}

.subscriptionAndSelection > div,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem;
}

.subscriptionAndSelection > div:first-child > div {
  color: var(--Marine-blue);
  font-size: 1.1rem;
  font-weight: 700;
}

.change {
  text-decoration: underline;
  cursor: pointer;
}

.change,
.selectedService {
  font-size: 1rem;
  font-weight: 700;
  color: var(--Cool-gray);
}

.cost {
  color: var(--Marine-blue);
  font-weight: 650;
}

.subscriptionAndSelection > div > div:first-child {
  display: flex;
  flex-direction: column;
}

.total {
  padding: 0 0.8rem;
}
.total > span:first-child {
  color: var(--Cool-gray);
  font-weight: 700;
}

.total > span:last-child {
  color: var(--Purplish-blue);
  font-weight: 700;
  font-size: 1.2rem;
}

.buttonInDesktop {
  display: none;
}

.buttonInMobile {
  background-color: var(--White);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonInMobile > .back {
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--Cool-gray);
  cursor: pointer;
}

.buttonInMobile > .btn {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background-color: var(--Marine-blue);
  font-size: 1rem;
  font-weight: 700;
  color: var(--White);
  border: none;
}
